<section>
{{#each blogPost}}
<div class="blog">
  <div class="col-md-6">
    <h2>{{this.postTitle}}</h2>
  </div>
  <div class="col-md-6">
    <h3>{{this.username}}</h3>
    <h3>{{this.createddate}}</h3>
  </div>
  <div><p>{{this.content}}</p></div>
</div>
{{/each}}
</section>